.experience {
    height: 100vh;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);

    .projects {
        display: grid;
        align-items: space-between;
        justify-content: space-between;
        gap: 4rem;
        grid-template-columns: repeat(2, 1fr);
        .individualproject {
            align-items: center;
            grid-template-columns: 1fr;
            .imgproject {
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                .img {
                    border-radius: 10px;
                    box-shadow:  -16px 16px 4px 0 rgba(0, 0, 0, 0.8 );
                }
            }
        }
        .social {
            display: flex;
			align-items: center;
            justify-content: center;
            margin-top: 15px;
            .button {
                height: 50px;
                width: 50px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                font-size: 25px;
                display: flex;
                align-items: center;
                text-align: center;
                margin: 10px 10px;
            }
        }
    }
}