.experience {
    height: 100vh;
    width: 100%;
    display: grid;
    background: rgba( 32, 33, 36, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}