@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

@import 'pages/components/navbar/_navbar.scss';
@import 'pages/components/about/_about.scss';
@import 'pages/components/experience/_experience.scss';
@import 'pages/components/footer/_footer.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}

html {
	height: 100%;
	padding: 0px 2%;
	scroll-behavior: smooth;
}

body {
	background: rgb(22,24,28);
	background: radial-gradient(circle, rgba(22,24,28,1) 0%, rgba(0,0,0,1) 45%);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p {
	color: #e8e8e8;
}

span {
	color: rgba(139, 188, 238);
}

.loader {
    display: flex;
    text-align: center;
    align-items: center;
}

.button {
	background-color:black;
	padding: 0 12px;
	color: #e8e8e8;
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	border-radius: 50px;
	cursor: pointer;
	text-decoration: none;
	box-shadow:
            inset 6px 6px 16px rgba( 0, 0, 0, 1 ),
            inset -6px -6px 16px rgba( 9, 43, 57, 0.4 );
	transition: all 0.2s ease-out;
	&:hover {
		background-color: rgba( 9, 43, 57, 7 );
	}
	.bug {
		padding-left: 8px;
	}
}

.glassBox {
	color: #fff;
    padding: 1rem 1.5rem;
    background: #212121;
    box-shadow: -16px 16px 4px 0 rgba(0, 0, 0, 0.6 );
	border-radius: 10px;
	min-height: 34vh;
	font-size: 14px;
}

.iconstack{
	width: 100%;
	height: 70px;
	padding-top: 10px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	.iconlogo{
		border-radius: 10px;
		align-items: space-between;
	}
}


.title{
	color: #fff;
	align-items: center;
	font-size: 3rem;
	text-align: center;
	margin-bottom: 2rem;
	justify-content: space-between;
}

.loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 50%;
    top: 50%;
}

.toggle-switch {
	position: relative;
	width: 40px;
	height: 20px;
	--light: #d8dbe0;
	--dark: #28292c;
	--link: rgb(27, 129, 112);
	--link-hover: rgb(24, 94, 82);
}

.switch-label {
	position: absolute;
	width: 100%;
	height: 21.5px;
	background-color: var(--dark);
	border-radius: 25px;
	cursor: pointer;
	border: 2px solid var(--dark);
}

.checkbox {
	position: absolute;
	display: none;
}

.slider {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 25px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.checkbox:checked ~ .slider {
	background-color: var(--light);
}

.slider::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 1px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	-webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
	box-shadow: inset 6px -4px 0px 0px var(--light);
	background-color: var(--dark);
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
	background-color: var(--dark);
	-webkit-box-shadow: none;
	box-shadow: none;
}
