@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

@import 'pages/components/navbar/_navbar.scss';
@import 'pages/components/about/_about.scss';
@import 'pages/components/experience/_experience.scss';

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	
}

html {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	background-image: linear-gradient(
		90deg,
		rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0.2)
	),url(https://i.postimg.cc/J4C6R2wr/Dise-o-sin-t-tulo-dsaadsasd.png);
	background-size: cover;
	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-position: center;
}

.loader {
    display: flex;
    text-align: center;
    align-items: center;
}

.button {
	background-color:black;
	padding: 0 10px;
	color: #fff;
	font-family: 'Poppins';
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	border-radius: 250px;
	cursor: pointer;
	text-decoration: none;
	border: 2px solid rgba( 9, 43, 57, 1 );
	transition: all 0.3s ease;
	&:hover {
		background-color: rgba( 9, 43, 57, 0.3 );
		border: 2px solid rgba( 55, 175, 101, 0.8 );
	}
}

.glassBox {
	color: #fff;
    padding: 1rem 1.5rem;
    background: rgba( 32, 33, 36, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
	border-radius: 10px;
}

.title{
	color: #fff;
	align-items: center;
	text-align: center;
	justify-content: space-between;
}